@import url(https://fonts.googleapis.com/css?family=Nunito);
img {
  max-width: 100%;
}

.wrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.wrapp .wrapp_nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.wrapp .wrapp_nav .logo-space {
  width: 15%;
}

.wrapp .wrapp_nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  line-height: 4.2rem;
  margin: 0;
}

.wrapp .wrapp_nav ul li {
  flex: 1;
  display: flex;
  align-items: center;
}

.wrapp .wrapp_nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 4.2rem;
  text-decoration: none;
  text-align: center;
  color: gray;
}

.wrapp .wrapp_nav ul li a i {
  font-size: 2rem;
  position: relative;
  color: #fff;
}

.wrapp .wrapp_nav ul li a:hover {
  color: #737373;
  background-image: linear-gradient(to top, #F0F0F0, #fff);
}

.wrapp .wrapp_nav ul li .toBuy:hover {
  background-image: none;
}

.wrapp .wrapp_nav ul li .toBuy i:after {
  content: "";
  width: 3rem;
  height: 3rem;
  background-color: #545454;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.wrapp .wrapp_nav ul li .toBuy i:hover:after {
  width: 3.2rem;
  height: 3.2rem;
}

.wrapp .carousel {
  width: 50%;
  margin: 0 auto;
}

.wrapp .carousel .arrow {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=app.css.map */
.separator {
    display: inline-block;
    border-bottom: 3px solid #b0a217;
    margin: 20px 0 30px 0;
    width: 90px;
}
footer {
    background-color: #091011;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.5);
}

.list-group-item.style-1 {
    background-color: transparent;
    border : 0px;
    color: rgba(255, 255, 255, 0.5);
    padding: 3px 0;
}
.list-group-item.style-1.list-group-label {
    padding: 0 0 10px;
}
.list-group-item.style-1 a{
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0 10px;
}
.list-group-item.style-1 a:hover {
    color: #ffffff;
}
